/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nobs{
    &-share-buttons {
        margin: 8px 0;
        padding: 24px 0;
        outline: 2px dashed #D3D3D3;
        outline-offset: 8px;
    }
}
